# Blender 2.69 (sub 11), Commit date: 2014-02-20 05:32, Hash 10f4c62

# backtrace
blender270() [0xfbcd04]
blender270() [0xfbcf5a]
/lib64/libc.so.6() [0x3548c32920]
blender270(rna_pointer_inherit_refine+0x20) [0x1408150]
blender270(Operator_properties_get+0x19) [0x14ff649]
blender270(RNA_property_pointer_get+0x94) [0x140c684]
blender270(RNA_path_resolve_full+0x312) [0x140df22]
blender270() [0x184d5f5]
blender270(PyObject_Call+0x5a) [0x2b9531a]
blender270(PyEval_CallObjectWithKeywords+0x47) [0x2c44467]
blender270() [0x2badf39]
blender270(PyObject_Call+0x5a) [0x2b9531a]
blender270(PyEval_EvalFrameEx+0x17c0) [0x2c3dd40]
blender270(PyEval_EvalCodeEx+0x83b) [0x2c3c4ab]
blender270() [0x2bbaf4f]
blender270(PyObject_Call+0x5a) [0x2b9531a]
blender270() [0x2bac82d]
blender270(PyObject_Call+0x5a) [0x2b9531a]
blender270() [0x2bef3b5]
blender270(PyEval_EvalFrameEx+0x2a20) [0x2c3efa0]
blender270(PyEval_EvalCodeEx+0x83b) [0x2c3c4ab]
blender270() [0x2bbaf4f]
blender270(PyObject_Call+0x5a) [0x2b9531a]
blender270() [0x2bac82d]
blender270(PyObject_Call+0x5a) [0x2b9531a]
blender270(PyEval_CallObjectWithKeywords+0x47) [0x2c44467]
blender270() [0x2beeccc]
blender270() [0x2be8ca6]
blender270(BPY_DECREF_RNA_INVALIDATE+0x62) [0x1850702]
blender270(WM_operator_free+0x15) [0xfc3be5]
blender270(wm_close_and_free+0x78) [0xfc44c8]
blender270(BKE_libblock_free_ex+0x31f) [0x157706f]
blender270(BKE_main_free+0x3a) [0x15773ba]
blender270(free_blender+0x10) [0x161b4f0]
blender270(WM_exit_ext+0x19a) [0xfc1c8a]
blender270(WM_exit+0xe) [0xfc1e0e]
blender270() [0xfcd974]
blender270() [0xfd85a2]
blender270() [0xfd8aa0]
blender270() [0x129aaca]
blender270() [0x12aaa21]
blender270() [0xfd9a55]
blender270() [0xfda086]
blender270(wm_event_do_handlers+0x19a) [0xfda37a]
blender270(WM_main+0x18) [0xfc45e8]
blender270(main+0x501) [0xfbf5cb]
/lib64/libc.so.6(__libc_start_main+0xfd) [0x3548c1ecdd]
blender270() [0xed92e5]
